.history
.vscode

/mysql/data/*
!/mysql/data/.gitkeep
/mysql/log/*
!/mysql/log/.gitkeep

/postgres/data/*
!/postgres/data/.gitkeep
 
/log/nginx/wwwlog/*
!/log/nginx/wwwlog/.gitkeep
/log/nginx/*.log

/log/nginx_dev/wwwlog/*
!/log/nginx_dev/wwwlog/.gitkeep
/log/nginx_dev/*.log
 
/log/php-fpm/php56/*
!/log/php-fpm/php56/.gitkeep
/log/php-fpm/php72/*
!/log/php-fpm/php72/.gitkeep
 
node_modules

gitlab