.history
.vscode

.env
export-compose.yml

/mysql/data/*
!/mysql/data/.gitkeep
/mysql/log/*
!/mysql/log/.gitkeep

/nginx/logs/**/*.log

/php/php72/log/*
!/php/php72/log/.gitkeep

/php/php56/log/*
!/php/php56/log/.gitkeep

/postgres/data/*
!/postgres/data/.gitkeep

/gitlab/data/*
!/gitlab/data/.gitkeep
/gitlab/logs/*
!/gitlab/logs/.gitkeep

/caddy/log/*
!/caddy/log/.gitkeep
 
/www/**/node_modules

