.history
.vscode

/mysql/data/*
!/mysql/data/.gitkeep
/mysql/log/*
!/mysql/log/.gitkeep

/nginx/logs/*.log
/nginx/logs/wwwlog/*
!/nginx/logs/wwwlog/.gitkeep

/php/php72/log/*
!/php/php72/log/.gitkeep

/php/php56/log/*
!/php/php56/log/.gitkeep

/postgres/data/*
!/postgres/data/.gitkeep
 
node_modules

gitlab